@font-face {
    font-family: OpenSans;
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Text_Me_One;
    src: url(fonts/Text_Me_One/TextMeOne-Regular.ttf);
}
/* HEADER-HOVER */
.nav-menu li:nth-child(4) {
    box-shadow: 1px 1px 1px 12px #203748;
    background-color: #203748;
    border-radius: 35px;
    /* width:80px; */
    transition: 0.1s;
}

.main-section {
    margin-top: -19px;
    position: relative;
}

.resume-heading {
    color: #39d084;
    font-family: 'OpenSans';
    padding-top: 58px;
    padding-left: 116px;
}

.resume-slogan {
    color: white;
    font-family: 'OpenSans';
    padding-left: 116px;
    width: 380px;
    /*     line-height:25px; */
}

/*  RESUME BUTTON */
.resume-main-button {
    position: relative;
    left: 30%;
    bottom: -10%;
    width: 280px;
    height: 48px;
    background-color: #39d084;
    border-radius: 35px;
    color: white;
    box-shadow: 0 5px 0 0 #39d084;
    border: none;
}

.resume-main-button a {
    text-decoration: none;
    ; color: white;
}

.resume-main-button:hover {
    cursor: pointer;
}

.resume-main-button img {
    padding-right: 15px;
    position: relative;
    top: 3px;
}

/*  FORM */
.resume-form {
    width: 235px;
    height: 325px;
    background-color: white;
    position: relative;
    bottom: 210px;
    left: 405px;
    display: none;
}

.resume-form-on-off {
    width: 235px;
    height: 325px;
    background-color: white;
    position: relative;
    bottom: 210px;
    left: 405px;
    display: block;
}

.resume-form-wrapper {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 27px;
    left: 20px;
}

.form-input {
    background-color: #ddf3df;
    /* padding-top:15px; */
    height: 35px;
    width: 192px;
    margin-bottom: 12px;
    border: none;
    color: grey;
    border-radius:5px;
}

.form input:nth-child(1) {
    color: red;
    font-size: 15px;
    padding-left: 15px;
}

.form input:nth-child(2) {
    font-size: 15px;
    padding-left: 15px;
}

.form textarea:nth-child(3) {
    font-size: 16px;
    padding-left: 15px;
    padding-top:8px;
    width: 192px;
    height:130px;
}
.form input:nth-child(4) {
   font-size:15px;
   width:110px;
   height:34px;
   margin-left:100px;
   border-radius:20px;
   background-color: #4ace54;
   color:white;
   cursor:pointer;
}

/* FOOTER-CONTACT */
.footer-contact::before {
  content:'';
  background-color:green;
  width:10px;
  height:10px;
  border-radius:100%;
  display:block;
  position:absolute;
  left:-20px;
  top:6px;
}