/* HEADER-HOVER */
.nav-menu li:nth-child(3) {
    box-shadow: 1px 1px 1px 12px #203748;
    background-color: #203748;
    border-radius: 35px;
    /* width:80px; */
    transition: 0.1s;
}


.catalog-wrapper {
    width: 620px;
    height: 35px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: clip;
}

.catalog-item img {
    width: 170px;
    height: 135px;
    padding: 15px;
}

.section-wrapper {
    width: 640px;
    padding-top: 10px;
    padding-left: 10px;
    position:relative;
}

.img-item {
    width: 200px;
    height: 130px;
    padding-right: 5px;
    border-radius: 20px;
    padding-top: 10px;

}

.img-item:hover {
    transform: scale(1.05);
    border-radius: 20px;
}
.img-checked {
 border:red; 
 width:250px;
 height:140px; 
 border-radius: 20px; 
 position:absolute;
 left:30%;
 top:30%;
transform:scale(2.1) ;
z-index:5;
}                
.img-checked .img-item {
opacity:0.1;
   
}